<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.devyankshaw.checking">

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.PREVENT_POWER_KEY" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated ="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LockScreenPassword"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".PasswordActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".AddSecurityActivity" />
        <activity
            android:name=".LockScreenPattern"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".PatternActivity" />
        <activity android:name=".PinActivity" />
        <activity
            android:name=".LockScreenPin"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LockService"
            android:exported="false" />

        <receiver android:name=".UserPresentBroadcastReceiver" android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>